@import "../mixins.scss";

.header-container{
	width: 100%;
	background-color: $brand-color;
    padding-top: 20px;
    padding-bottom: 20px;
	@include display-flex();
	@include justify-content-center();
	position: fixed;
	z-index: 1;
}

.header-row{
	@include display-flex();
	@include flex-grow();
	@include justify-content-space-between();
	max-width: $container-width;
	padding-left: $grid-gutter-width/2;
	padding-right: $grid-gutter-width/2;
	@include flex-direction();

	@media screen and (max-width: $media-query-mobile){
		@include flex-direction(column);
		padding-left: 0;
		padding-right: 0;
	}

}

.header-title-container{
	@include display-flex();
	@include justify-content-space-between();

	.header-title{
		color: white;
		margin: 0;
	    text-align-last: left;	
	    padding-top: 6px;
	    padding-left: 0;
		font-size: $header-title-desktop;
		font-weight: $font-weight-heavy;
    	@include transition(0.2s);

		&:hover{
			color: $color-grey-mid;
			cursor: pointer;
		    @include transition(0.2s);
		}

		@media screen and (max-width: $media-query-mobile){
			width: 100%;
		    padding-left: $grid-gutter-width/2;
			font-size: $header-title-mobile;
		}
	}

	.header-mobile-menu{
		display: none;
		padding-top: 12px;
		padding-right: $grid-gutter-width/2;
		font-size: $btn-mobile-menu;
		color: white;
		@include transition(0.2s);

		&:hover{
			color: $color-grey-mid;
			cursor: pointer;
		    @include transition(0.2s);
		 }

		@media screen and (max-width: $media-query-mobile){	
	    	display: block;
	    }
	}
}

.header-nav-items-container{
	@include display-flex();	
	@include justify-content-space-between();
	@include flex-direction();
	min-width: $container-nav-items;
	padding-left: 0;
    margin-top: 11px;
    margin-bottom: 0;

	&.active{
		display: block;
		margin-top: 20px;
	    border-top: 1px solid $color-grey-light;

	}

	@media screen and (max-width: $media-query-mobile){
		@include flex-direction(column);
		display: none;
	}

	.header-nav-item{
		padding: 0;
		list-style-type: none;
		font-size: 18px;
		padding-left: 0;
		color: white;
		@include transition(0.2s);
		margin-bottom: 0;

		&:hover{
			color: $color-grey-mid;
			cursor: pointer;
		    @include transition(0.2s);
		}

	    @media screen and (max-width: $media-query-mobile){
	    	padding: 20px;
	    	border-bottom: 1px solid $color-grey-light;
	    }
	}
}